@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 17px;
}

.header {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF5FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

/* Slogan, Motto*/
#info {
    display: inline-block;
    margin-left: 110px;
    position: fixed;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    text-align: center;
    display: inline;
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

#nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    width: 180px;
}

#nav ul li img {
    margin-right: 60px;
    height: 40px;
    width: 40px;
    margin-bottom: -10px;
}

#nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 20px;
}

#nav a:hover {
    color: blueviolet;
}

#nav ul li ul {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#nav ul li ul li {
    background-color: azure;
    display: block;
}

#nav ul li ul li:hover {
    color:#EEF5FF;
    background-color: azure;
}

#nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

a {
    color: #121212;
    text-decoration: none;
}

li a:hover {
    color: blueviolet;
    text-decoration: none;
}
li a:visited {
    color: #121212;
    text-decoration: none;
}

.application { /*Adjust the content position*/
    margin: 120px auto;
    width: 80%;
    max-width: 1000px;
    height: 70%;
    min-height: 700px; 
    display: flex;
    flex-direction: column;
    font-size: 22px;
    background-color: rgb(250, 254, 255);
    border: 1px solid black;
}

.title {
    max-width: 1000px;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(223, 247, 242); 
    text-align: center;
    margin: 0px auto;
    padding-top: 10px;
}

#adoption {
    min-height: 280px;
    height: 55%;
    max-width: 950px;
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    background-color: azure;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#adoptimg {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

#adoptionid {
    height: 30px;
    width: 300px;
    margin-left: 225px;
    display: flex;
    flex-direction: row;
    margin-top: -200px;
}

#name {
    height: 30px;
    width: 400px;
    margin-left: 225px;
    margin-top: -30px;

}

#profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin: -100px 0 0 700px;
    display: flex;
    position: relative;
    overflow: hidden;
}

#username {
    height: 35px;
    width: 150px;
    border: 1px solid black;
    margin: 20px 0 0 700px;
    font-size: small;
    text-align: center;
    padding-top: 5px;
}

.button {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.button1 {
    height: 50px;
    width: 449px;
    border: 1px solid black;
    margin-top: 250px;
    margin-left: -890px;
    background-color: rgb(115, 253, 115);
    font-size: 22px;
    opacity: 0.9;
}

.button1 p {
    margin-top: 8px;
    border: none;
    color: rgb(68, 65, 65);
}

.button1:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.2), 3px 4px 3px 4px rgb(0,0,0,0.2);
}

.button2 {
    height: 50px;
    width: 448px;
    border: 1px solid black;
    margin-top: 150px;
    background-color: rgb(247, 49, 49);
    font-size: 22px;
    opacity: 0.9;
    margin-top: 250px;
    margin-left: -440px;
}

.button2 p {
    margin-top: 8px;
    color: white;
}

.button2:hover {
    opacity: 1;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.2), 3px 4px 3px 4px rgb(0,0,0,0.2);
}
