@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 17px;
}

.header {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF5FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

/* Slogan, Motto*/
#info {
    display: inline-block;
    margin-left: 110px;
    position: fixed;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    text-align: center;
    display: inline;
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

#nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    width: 180px;
}

#nav ul li img {
    margin-right: 60px;
    height: 40px;
    width: 40px;
    margin-bottom: -10px;
}

#nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 20px;
}

#nav a:hover {
    color: blueviolet;
}

#nav ul li ul {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#nav ul li ul li {
    background-color: azure;
    display: block;
}

#nav ul li ul li:hover {
    color: #EEF5FF;
    background-color: azure;
}

#nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

a {
    color: #121212;
    text-decoration: none;
}

li a:hover {
    color: blueviolet;
    text-decoration: none;
}

li a:visited {
    color: #121212;
    text-decoration: none;
}

#title {
    margin: auto;
    height: auto;
    margin-top: 130px;
    margin-bottom: -90px;
    text-align: center;
    font-size: larger;
}

.info1 {
    display: inline-block;
    width: 300px;
    height: 55px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: medium;
    margin: 125px 25px 20px 25px;
}

.info2 {
    display: inline-block;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: -420px 25px 20px 25px;
}

.info2 img{
    height: 100%;
    width: 100%;
}

.info3 {
    display: inline-block;
    width: 250px;
    height: 55px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: medium;
    margin: 0 50px 20px 50px;
}

.info3 p {
    text-align: center;
    font-size: xx-large;
}

#ahpinfo {
    padding: 50px 50px 0 50px;
    display: flex;
    margin-bottom: 20px;
}

#ahpinfo h2 {
    margin-left: 280px;

}

#count {
    height: 150px;
    width: 1000px;
    border-radius: 35px;
    border: 2px solid;
    margin: 0 auto 25px auto;
    background-color: #f9f9f9;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: medium;
}

#count p {
    font-size: xx-large;
    padding: 50px;
    margin: 0 200px 0 200px;
}

.clear {
    clear: both;
    text-align: center;
}
