@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 17px;
}

.header {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF5FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
}

/* Slogan, Motto*/
#info {
    display: inline-block;
    margin-left: 110px;
    position: fixed;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    text-align: center;
    display: inline;
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

#nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    width: 180px;
}

#nav ul li img {
    margin-right: 60px;
    height: 40px;
    width: 40px;
    margin-bottom: -10px;
}

#nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 20px;
}

#nav a:hover{
    color: blueviolet;
}

#nav ul li ul {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#nav ul li ul li {
    background-color: azure;
    display: block;
}

#nav ul li ul li:hover {
    color:#EEF5FF;
    background-color: azure;
}

#nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

a{
    color: #121212;
    text-decoration: none;
}

li a:hover{
    color: blueviolet;
    text-decoration: none;
}
li a:visited{
    color: #121212;
    text-decoration: none;
}

.info{ /*Adjust the content position*/
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 70%;
    min-height: 700px; 
    display: flex;
    flex-direction: column;
    font-size: 22px;
    background-color: snow;
    border: 1px solid black;
}

.title{
    max-width: 1000px;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(223, 247, 242); 
    text-align: center;
    margin: 0 auto;
}

.content{
    height: 300px;
    min-width: 400px;
    width: 85%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.content h3{
    margin-left: 22%;
    margin-top: 40px;
    margin-right: 20px;
}

.content img{
    height: 120px;
    width: 120px;
    margin-top: 120px;
    margin-left: -45%;
}

.content p{
    margin-top: 150px;
    margin-left: 10%;
    font-size: larger;
}

.record{
    height: auto;
    width: 85%;
    min-width: 400px;
    border: 1px solid black;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    clear: both;
}

.profile{
    border: 1px solid black;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 10px;
}

.profile img{
    height: 100%;
    width: 100%;
}

p{
    margin-top: 10px;
    margin-left: 20px;
}

.option{
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.donation{
    margin-top: 35px;
    float: right;
    margin-left: 30px;
}
