body{
    background-color: hsl(60, 9%, 98%);
}

/* Design purpose */
.rectangle{
    margin-top: 350px;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 242, 237);
    position: absolute;
    z-index: 0; /*Send it behind the donate info*/
}

/* Donation container */
.donation{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    min-height: 1000px;
    display: flex;
    border: 1px solid rgb(250, 249, 249);
    flex-direction: column;
    background-color: hsl(60, 9%, 98%);
}

/* Donation info */
.donationinfo{
    height: 900px;
    width: 85%;
    max-width: 900px;
    display: flex;
    border: 1px solid rgb(193, 181, 181);
    position: relative;
    margin: 120px auto;
    flex-direction: column;
    background-image:url('images/Frame\ for\ dogs\ and\ cats.avif');
    background-repeat: no-repeat;
    background-size: 100% 100%; /*cover the whole donation info [height X width]*/
    z-index: 0;
}

#text{
    text-align: center;
}

.infotext{
    margin-top: 160px;
}

#text p{
    margin: 10px 110px 0 110px;
    font-size: 20px;
}

/* Container for the option */
.container{
    display: flex;
    float: left;
}

/* Button */
.donationoption1,.donationoption2{
    height: 80px;
    width: 25%;
    display: flex;
    border: 1px solid rgb(127, 124, 124);
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 15%;
    border-radius: 10px;
}


#monetarybtn:hover{
    opacity: 50%;
}

#supplybtn{
    display: flex;
    align-items: center;
}

#supplybtn:hover{
    opacity: 50%;
}

#icon{
    margin: 20px 25px 0 10px;
}

/* Footer */
#footer{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    color: grey;
    line-height: 18px;
    background-color: #FFF6DC;
}

footer{
    float: inline-end;
    color: rgb(135, 135, 250);
}
