@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* loginPPH.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 17px;
}


#header {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EEF5FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display:inline-block;
}

/* Slogan, Motto*/
#info {
    display: inline-block;
    margin-left: 110px;
    position: fixed;
}

.leftside, .rightside {
    height: 100vh;
    width: 50%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logincontainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.rightside {
    background-color: snow;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 120px 0 -120px 0;
    }

    .leftside, .rightside {
        width: 100%; /* Full width when stacked */
        height: 70vh; /* Adjusted height for responsiveness */
    }
}

#loginimg{
    height: 100vh;
    width: auto;
}

#content p {
    text-align: left;
    margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
    font-size: large;
}

input[type="submit"]:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
    color: #007bff;
    text-decoration: none;
}

#view:hover{
    text-decoration: underline;
}
