body{
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0; 
    display: flex; /*Set flexible length on the items in screen*/
    flex-wrap: wrap;  /*Wrap up the flexible items*/
}

.mainpage{
    margin: 0 auto;
    width: 100%;
    font-family: 'Itim', cursive; /*Refer to html with google font link*/
} 

/* Under header */
.header{
    border-color: black;
    background-color:rgba(204, 226, 245, 0.5);
    padding: 10px;
    flex: 50%; /*Length of item*/
}

#logo{
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.name_motto{
    float: left; 
    margin-top: 10px; 
    margin-left: 50px;
    width: 300px;
    position: relative;
} 

/*Naviagation bar*/
#nav{ 
    padding: 30px 20px 20px 100px;
    position: relative;
    flex: 50%;
}

#nav ul{
    text-align: center;
    display: inline;
    margin: 10px;
    padding: 15px 5px 15px 0;
}
#nav ul li{
    display: inline-block;
    margin-right: -10px; 
    position: relative;
    padding: 10px 10px;
    width: 130px;
    height: 20px;
    font-size: 20px;
}
#nav ul li:hover{
    color: blueviolet;
}
#nav ul li ul{ 
    padding: 0;
    position: absolute; 
    top: 40px;
    left: 0;
    width: 200px;
    display: none;
    opacity: 0;
    visibility: hidden; 

}
#nav ul li ul li{
    background: #555555;
    display: block;
    color: #fff;
}
#nav ul li ul li:hover{
    background: #666;
    color:beige;
}
#nav ul li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Under about us */
.aboutus{
    border: 5px;
    border-color: black;
    font-size: large;
    background-color: rgba(253, 243, 226, 0.5);
    display: flex;
}

/*Flex (flex-grow, flex-shrink, flex basis)*/
#aboutustext{
    flex: 1; /*the size of all of the other elements will have the same width as their content, but the element with flex: 1 will have the remaining full space given to it.*/
    text-align: justify;
    padding: 20px 10px 0px 10px;
}
#imgaboutus{
    height: 450px;
    width: auto;
}

/* Under mission and vision */
.mvs-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f3fc;
    padding-bottom: 50px;
}

.mvs{
    border: 5px;
    border-color: black;
    flex: 1;
}

#mvsbox{
    background-color:#fce9e9;
    border-radius: 30px;
    position: relative;
    float: left;
    padding: 0px 20px 0 30px;
    margin: 60px 50px 0px 120px;
    font-size: large;
}

@media(max-width:800px){  /*Media query: check true/false for width@height of viewport, orientation, resolution (Can show in different platform)*/
    #mvsbox{
        margin: 10px; 
    }
}

/* Under achievement */
.achievementcontainer{
    display: flex;
    justify-content: space-around; /*Provide some space for item in container*/
    flex-wrap: wrap;
}
.achievements {
    background-color: azure;
    margin-bottom: 20px;
}

.achievement {
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
}

.achievement img {
    max-width: 80%;
    height: 50%;
    border-radius: 10px;
}

.achievement p {
    margin: 10px 0;
}


/* Under operation hour */
.optcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.opthour{
    border: 5px;
    border-color: black;
    background-color: beige;
    padding: 10px;
    text-align: center;
}

.optimg{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    margin: 10px 20px 20px 150px;
}

#opturgents{
    text-align: justify;
}

#optinfo, #opturgents{
    flex: 1;
}

#optinfo,#opturgents h2, #opturgents p{
    margin: 5px;
}


/* Footer */
.footer {
    background-color: #B4BDFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer-icons img {
    height: 50px;
    width: 50px;
    border-radius: 500px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 60px;
}


#clear{
    clear: both;
}
