#box {
    height: auto;
    width: auto;
    margin: 120px 0 -120px 0;
    background-color: #F7FBFC;
    position: relative;
    display: flex;
    padding: 80px 10px;
}

#imgaboutus{
    height: 370px;
    width: auto;
    margin: 75px 0 0 25px;
    border-radius: 120px / 100px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#aboutustext{
    flex: 1;
    text-align: justify;
    padding: 20px 10px 0px 10px;
    line-height: 1.5;
    margin: 0 0 20px 15px;
}

#aboutustext h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#aboutustext p {
    margin-bottom: 10px;
}

#aboutustext li, ul {
    margin-left: 35px;
}

.mvs h2, .opthour h2 {
    font-size: 28px;
    margin: 10px 0 10px 25px;
}

#mvsbox {
    height: 300px;
    width: 450px;
    background-color:#fce9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 70% 10% 70% 10% / 10% 70% 10% 70%;
    float: left;
    padding: 20px 30px 20px 30px;
    margin: 50px 0 50px 190px;
    font-size: large;
}

#mvsbox h3 {
    text-align: center;
    font-size: x-large;
}

.ach h2 {
    font-size: 28px;
    margin: 10px 660px;
}

.achievementcontainer{
    display: flex;
    justify-content: space-around; /*Provide some space for item in container*/
    flex-wrap: wrap;
}

.achievement {
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.achievement img {
    max-width: 80%;
    height: 60%;
    border-radius: 10px;
}

.achievement p {
    margin: 10px 0;
}

#optinfo{
    width: 480px;
    float: left;
    padding: 30px 0 0 200px;
}

#opturgents{
    width: 480px;
    float: left;
    text-align: left;
    padding: 30px 30px 0 100px;
}

.optimg{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    float: left;
    display: block;
    margin-left: 90px;
    margin-bottom: 20px;
}


#wrapper {
    width: 900px;
    align-items: center;
    margin: 80px 590px;
}

.clear {
    clear: both;
    text-align: center;
}

#footer{
    min-height: 700px;
    height: auto;
    width: auto;
    margin: 120px 0 -120px 0;
    position: relative;
    background-image: url(https://t3.ftcdn.net/jpg/06/33/08/86/240_F_633088681_I3bwVFvQosYEEZjromE9zJndbrEZAQrS.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}

#footerbg{
    width: 100%;
    height: 400px;
}

#footercontent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    min-height: 170px;
}

.footersubcontent{
    text-align: center;
    margin-top: -20px;
}

.footersubcontent a{
    text-decoration: none;
    color: rgb(79, 36, 9);
}

.footersubcontent a:hover{
    color: rgb(163, 74, 19);
}

#footerline{
    height: 2px;
    width: 1200px;
    background-color: black;
    margin: 10px auto;
}

#socialmediagroup{
    display: flex;
    width: 300px;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px auto;
}

#footericon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#copyrighttxt{
    float: right;
}
