body{
    background-color: snow;
}

/* Close button */
.cross{
    position: relative;
    margin-left: 80%;
    margin-top: 30px;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.cross:hover{
    background-color: rgb(235, 229, 229);
}

/* The box */
.container{
    margin: 60px auto;
    font-family: "Itim", cursive;
    width: 100%;
    max-width: 800px;
    height: 80%;
    min-height: 1350px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    background-color: hsl(64, 56%, 95%,0.3);
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.2), 3px 4px 3px 4px rgb(0,0,0,0.2);
}

/* The profile pic */
.profile{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: auto; /*centralise image*/
    position: relative;
    z-index: 0;
}

/* Edit button */
.edit{
    position: absolute;
    top: 50%;
    left: 56%;
}

.edit input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

/* Name */
.name{
    height: 60px;
    min-width: 300px;
    width: 20%;
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.2);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Itim, 'cursive';
    margin-top: 20px;
}

/* All input textbox */
.input{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 150px;
    margin-top: -70px;
    padding-left: 15px;
    border-radius: 20px;
    font-family: 'Itim', cursive;
    font-size: 15px;
    background-color: white;
}

textarea{
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    float: right;
    margin-right: 110px;
    margin-top: -50px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Itim', cursive;
    font-size: 15px;
}

/* The info like gender, dob,... */
h1{
    margin: 10px auto;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.info{
    font-size: large;
    line-height: 50px;
    margin: 10px 0 10px 150px;
}

/* Pet image */
.petimage{
    display: flex;
    float: left;
}

.petimage1{
    height: 220px;
    width: 200px;
    border: 1px solid black;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.2);
}

.petimage1 img{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

.petimage2{
    height: 220px;
    width: 200px;
    border: 1px solid black;
    margin-left: 80px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.2);
}

.petimage2 img{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

.petimage p{
    text-align: center;
    margin-top: 70px;
}

.submit{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    margin-left: 350px;
    font-size: large;
}
